h1{
    color: green;
    font-size: 50px;
}

div{
    background-color: blue;
    width: 100px;
    height: 100px;
    padding: 20px;
}

p{
    font-style: oblique;
    color: red;
    font-size: 30px;
}

strong{
    color: darkgreen;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}